/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
* { box-sizing: border-box; }
body { margin: 10px 0px 0px 0px; }
body, html { height: 100%; width: 100%; font-family: 'Montserrat'; color: black; font-weight:bold; }

.loginpage {
	
}
	
.indexlogo {
	display: block;
	width: 85%;
	position: relative;
	top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.frontpage {
	background-image: url(../images/home.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.about {
	background-image: url(../images/1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.quiz {
	background-image: url(../images/2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.login {
	background-image: url(../images/3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.gallery {
	background-image: url(../images/4.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
fpbuttons {
	text-align: center;
	line-height: 70px;
	height: 70px;
	width: 862px;
	display: block;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.fpbutton {
	display: inline-block;
	width: 200px;
	height: inherit;
	background-color: rgba(0, 255, 255, 0.6);
	margin: 6px;
	border-radius: 5px;
	text-decoration: none;
}

body nav {
	margin: 0px;
	width: inherit;
	height: 50px;
	background-color: rgba(0, 255, 255, 0.6);
	position: sticky;
	top: 5px;
	z-index: 10;
	box-shadow: 0 2px 30px 1px black;
}

body nav div { display: block; text-align: center; }

.navbutton {
	display: inline-block;
	line-height: 50px;
	width: 100px;
	height: 50px;
	padding: 0 5px;
	margin: 0 30px;
	text-decoration: none;
	color: black;
	text-shadow: 0 1px 20px black;
}

h1 {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 200px;
	text-align: center;
	border: 5px;
	padding: 10px 40px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Montserrat'; color: black; font-weight:500; 
	text-decoration: none;
	text-shadow: 0 1px 10px black;
}

maincontent {
	display: block;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 150px;
	left: 0;
	right: 0;
	width: 600px;
	height: auto;
	border: 5px;
	padding: 10px 40px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
}

.gallery maincontent { width: 1000px; }

.login maincontent {
	text-align: center;
}